*, *:before, *:after {
  box-sizing: border-box;
  /* margin: 0 auto; */

}

body{
  font-family: sans-serif;
  width: 411px;
  height: 963px;
}

.container{
position: fixed;

}

.statusbar{
width: 411px;
}

nav{
  background-color: #25286A;
  height: 64px;
  margin: 0 auto;
  padding: 10px 0 15px 15px;

}

.fa-arrow-left{
  float:left;
  color: white;
  width: 27.4px;
  height: 27.4px;
  margin-left: 22.8px;
}

h1{
  color: white;
  font-size: 20px;
  margin-left: 82px;
}

.bus-list{
  height: 590px;
  overflow-y: scroll;

}

h2{

}

.row{
  clear: both;
  height: 64px;

  border-bottom: 1px solid #E0E0E0;

}

.number{
  display: inline-block;
  border-radius: 50%;
  border-spacing: inherit;
  width: 45.67px;
  height: 45.67px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  padding-top: 26px;
  text-align: center;
}

.inactive{
  background-color: #dadada;
}

.eastbound{
  background-color: #FF69B1;
}

.southbound{
  background-color: #4CF298;
}

.northbound{
  background-color: #FDF304;
}

.destination{
  display: inline-block;
  font-weight: lighter;
  font-size: 16px;

}

.alert{
  display: inline-block;

}

.fa-exclamation-triangle{
  color: #FE4700;
}

.direction{
  display: inline-block;
  font-weight: lighter;
  font-size: 10px;
  text-transform: uppercase;
}

.time{
  float: right;
  font-weight: bolder;
  font-size: 16px;
  text-align: right;
  margin-right: 20px;
  padding-top: 16px;
}

.frequency{
  font-weight: normal;
  font-size: 12px;
  text-align: right;
}
