*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family:'Roboto', sans-serif;
  width: 411px;
  height: 731px;
}

.container{
  margin: 0 auto;
  width: 411px;
  height: 98px;
}

.statusbar{
  position: fixed;
  z-index: 1;
}

img{
  width: 411px;
}

nav{
  position: fixed;
  top: 27px;
  margin: 0 auto;
  background-color: #25286A;
  height: 64px;
  width: 411px;
  margin: 0 auto;
  box-shadow: 0px 5px 10px grey;
  z-index: 1;
}

.fa-arrow-left{
  float:left;
  color: white;
  width: 27.4px;
  height: 27.4px;
  margin-left: 22.8px;
  padding-top: 26px;
}

h1{
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 82px;
  padding-top: 24px;
}

.bus-list{
  height: 590px;
  overflow-y: scroll;
}

.row{
  clear: both;
  height: 64px;
  border-bottom: 1px solid #E0E0E0;
}

.row:hover {
  background-color: #F3F4F8;
}

.number{
  display: inline-block;
  border: 1px solid #25286A;
  border-radius: 50%;
  width: 45.67px;
  height: 45.67px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.active{
  background-color: #FDF304;
}

.inactive{
  background-color: #CECED7;
}

.reroute{
  background-color: #FE4700;
}

.destination{
  display: inline-block;
  padding-left: 16px;
  font-weight: 300;
  font-size: 16px;
  vertical-align: middle;
  line-height: 20px;
}

.alert{
  display: inline-block;
  position: absolute;
  left: 210px;
  padding: 24px;
}

.fa-exclamation-triangle{
  color: #FE4700;
}

.details{
  font-weight: 700;
  font-size: 14px;
}

.time{
  float: right;
  font-weight: 700;
  font-size: 16px;
  text-align: right;
  margin-right: 20px;
  padding-top: 16px;
}

.frequency{
  font-weight: 400;
  font-size: 12px;
  text-align: right;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}
